/*  
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_collapsible_symbol 
https://www.w3schools.com/css/tryit.asp?filename=trycss_position_absolute
*/
/*https://loremipsum.io/generator/?n=40&t=w*/

.collapsible {
    background-color: none;
    color: white;
    cursor: pointer;
    padding: 0px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
.content {
    padding: 0px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: none;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    /*margin-left: 210px;
    margin-top: 65px;*/
    position: absolute;
    top: 67px;
    margin-left: auto;        /* These two lines makes the '+' sign stay to the right regardless of window size   */
    margin-right: 8px;        
    /*border: 1px solid black;*/
    width: 15px;
    height: 25px;
  }
  
.active:after {
    content: "\2212";
}


.left-block {
    width: 50%;
    float: left;
    background: none;
    height: 100%;
    text-align: right;
    padding-right: 5px;
    
}
.right-block {
    width: 50%;
    float: right;
    background: none;
    height: 100%;
    text-align: left;
    padding-left: 5px;
}

.button {
    width: 100px;
    text-align: center;
    padding-top: 20px;
}

.relative {
    position: relative;
}

/* POP UP CHAT WINDOW */
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_popup_chat */

.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 69px;
    right: 28px;
    width: 280px;
  }
  
  /* The popup chat - hidden by default */
  .chat-popup {
    display: none;
    position: fixed;
    bottom: 69px;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width textarea */
  .form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
  }
  
  /* When the textarea gets focus, do something */
  .form-container textarea:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/send button */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
